Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@Nelieon 
Learn Git and GitHub without any code!
Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.


Nelieon
/
annawebsite.github.io
1
0
0
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
annawebsite.github.io/css/style.css
@Nelieon
Nelieon css change
Latest commit f161728 11 minutes ago
 History
 1 contributor
510 lines (492 sloc)  11.8 KB
  
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lusitana);

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.top-shadow{
-webkit-box-shadow: 0px -17px 49px 9px rgba(63, 184, 235, 0.19);
-moz-box-shadow: 0px -17px 49px 9px rgba(63, 184, 235, 0.19);
box-shadow: 0px -17px 49px 9px rgba(63, 184, 235, 0.19);
}

#block1 {
  min-height: 300px;
  background:linear-gradient(135deg, #87CEEB, #C5DDE8);
  padding-top:80px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  margin-top: -30px;
}
.block_inside{
  padding: 20px;
  font-family: 'Amatic SC', cursive;
}
.block_inside h1{
  font-size: 100px;
  margin-top:20px;
  margin-bottom: 0px;
}
.block_inside h2{
    font-size: 50px;
    text-align: center;
  }
  .block_inside p{
    font-size: 30px;
    font-family: 'Poiret One', cursive;
    margin:5px;
    text-align: center;
  }
@media (max-width: 500px) {
  .block_inside h1{
    font-size: 50px;
    margin-top:20px;
    margin-bottom: 0px;
    text-align: center;
  }
  .block_inside h2{

    font-size: 25px;
    text-align: center;
  }
  .block_inside p{
    font-size: 24px;
    font-family: 'Poiret One', cursive;
    margin:5px;
    text-align: center;
  }
}
.nav-item{
  padding: 0px;
  font-size: 36px;
}

.nav-link{
  color:#C5DDE8;
  font-family: 'Amatic SC', cursive;
  transition: all 0.6s;
}
.nav-link:hover{
  color:rgb(20,20,20);
}
.nav {
  background-color: #5F9EA0;
}

@media (max-width: 500px) {
  .nav-item{
  padding: 0px;
  font-size: 24px;
  }
}
#block2 {
background-color: #5F9EA0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #fcfcf4;
  font-family: "Lusitana", sans-serif;
}

p {
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 18px;
}
p span {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  margin-bottom: 24px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px;
}
p span:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -12px;
  margin: auto;
  background-color: black;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 3px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 3px;
}
p span:after {
  content: '';
  position: absolute;
  top: -2px;
  bottom: 0;
  left: -6px;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 8px 6px;
  border-color: transparent transparent white transparent;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 44px;
  text-align: center;
  
}
@media (min-width: 500px) {
  h1 {
    font-size: 60px;
    line-height: 64px;
  }
}

h3 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 60px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  cursor: pointer;
  padding: 6px 20px;
  font-size: 30px;
}
@media (min-width: 500px) {
  ul li {
    cursor: pointer;
    padding: 6px 20px;
    font-size: 60px;
  }
}
@media (max-width: 500px) {
  ul li {
    cursor: pointer;
    padding: 6px 20px;
    font-size: 38px;
  }
}
button {
  opacity: 0.6;
  background-color: transparent;
  position: relative;
  z-index: 2;
  top: 24px;
  left: 24px;
  border: none;
  width: 36px;
  height: 30px;
  outline: none;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
@media (max-width: 500px) {
  button {
  opacity: 0.6;
  background-color: transparent;
  position: relative;
  z-index: 2;
  top: 24px;
  left: 24px;
  border: none;
  width: 24px;
  height: 20px;
  outline: none;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  }
}
button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  right: auto;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(20%, #000000), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(40%, #000000), color-stop(60%, #000000), color-stop(60%, transparent), color-stop(80%, transparent), color-stop(80%, #000000), to(#000000));
  background: linear-gradient(to bottom, #000000, #000000 20%, transparent 20%, transparent 40%, #000000 40%, #000000 60%, transparent 60%, transparent 80%, #000000 80%, #000000 100%);
  -webkit-transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
  transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
}
button:after {
  opacity: 0;
  content: '×';
  color: white;
  position: absolute;
  top: 16px;
  left: -4px;
  font-family: Arial, sans-serif;
  font-size: 76px;
  line-height: 0;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}
@media (max-width: 500px) {
  button:after {
  opacity: 0;
  content: '×';
  color: white;
  position: absolute;
  top: 10px;
  left: -4px;
  font-family: Arial, sans-serif;
  font-size: 52px;
  line-height: 0;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}
}
button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
button:hover {
  opacity: 1;
}
.open button {
  opacity: 1;
}
.open button:before {
  opacity: 0;
  width: 0;
}
.open button:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
          transform: translate3d(0, 0, 0) rotate(360deg);
  -webkit-transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
  transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
  transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
  transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
}

nav {
  z-index: 1;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}
nav:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background:#87CEEB ;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  -webkit-transform: scale(0.04), translateY(9999px);
          transform: scale(0.04), translateY(9999px);
  overflow: hidden;
}
.open nav {
  top: 0;
}
.open nav:before {
  -webkit-animation: menu-animation 0.8s ease-out forwards;
          animation: menu-animation 0.8s ease-out forwards;
}

ul.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  color: white;
}
ul.menu li {
  opacity: 0;
  text-align: center;
  -webkit-transform: translate3d(0, 36px, 0);
          transform: translate3d(0, 36px, 0);
}
ul.menu li:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  left: auto;
  background-color: white;
  height: 100%;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.14s ease-out;
  transition: width 0.14s ease-out;
}
ul.menu li:after {
  opacity: 0;
  content: attr(data-text);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #87CEFA;
  overflow: hidden;
  -webkit-transform: translate(-24px, 6px);
          transform: translate(-24px, 6px);
  -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
ul.menu li:hover:before {
  left: 0;
  right: auto;
  width: 100%;
}
ul.menu li:hover:after {
  opacity: 1;
  padding: 0 20px;
  -webkit-transform: translate(0px, 6px);
          transform: translate(0px, 6px);
  -webkit-transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
  transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
}
.open ul.menu li {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
.open ul.menu li:nth-child(1) {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
.open ul.menu li:nth-child(2) {
  -webkit-transition-delay: 0.85s;
          transition-delay: 0.85s;
}
.open ul.menu li:nth-child(3) {
  -webkit-transition-delay: 0.95s;
          transition-delay: 0.95s;
}
.open ul.menu li:nth-child(4) {
  -webkit-transition-delay: 1.05s;
          transition-delay: 1.05s;
}

article {
  padding: 24px;
  max-width: 600px;
  margin: 60px auto;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.open article {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
  -webkit-transition: -webkit-transform 0.2s 0.41s ease-out;
  transition: -webkit-transform 0.2s 0.41s ease-out;
  transition: transform 0.2s 0.41s ease-out;
  transition: transform 0.2s 0.41s ease-out, -webkit-transform 0.2s 0.41s ease-out;
}

@-webkit-keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
            transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
    -webkit-transition: ease-out;
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
            transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
            transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
            transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
    -webkit-transition: ease-out;
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
            transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
            transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
10 results found.